{% extends 'base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block content %}
<div class="container">
 <h3 class="main-txt p-3 d-flex justify-content-center">Edit issues</h3>
     <div class="form">
          <form action="{% url 'edit' photo.pk %}" enctype="multipart/form-data" method="POST">
             {% csrf_token %}
             <div class="form">
                 {% include 'partial/photo_form.html' with button_txt='Edit' form=form %}
            </div>
          </form>
     </div>
</div>
{% endblock %}